
@{
    ViewData["Title"] = "Segredo!";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>




<p supress-by-claim-name="Administrador" supress-by-claim-value="Criar">
    <a asp-action="Create" class="btn btn-outline-primary">Gravar novo</a>

</p>


<p supress-by-claim-name="Administrador" supress-by-claim-value="Editar">
    <a asp-action="Create" class="btn btn-outline-primary">Editar Registro</a>

</p>

<p supress-by-claim-name="Administrador" supress-by-claim-value="Excluir">
    <a asp-action="Create" class="btn btn-outline-primary">Excluir Registro</a>

</p>

<p supress-by-claim-name="Administrador" supress-by-claim-value="Visualizar">
    <a asp-action="Create" class="btn btn-outline-primary">Visualizar Registro</a>

</p>

<p supress-by-claim-name="Vendedor" supress-by-claim-value="Visualizar">
    <a asp-action="Create" class="btn btn-outline-primary">Vendedor pode Visualizar Registro</a>

</p>